@import "../node_modules/normalize.css";
@import "./helpers/mixins.scss";

body {
  background-color: #def0e49c;
  color: rgb(63, 63, 59);
  font-size: 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 350px auto 350px;
  grid-template-rows: auto;
  grid-column-gap: 1vw;
}

.styled_form {
  padding: 1vw;
  select,
  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 1.4;
    padding: 0.5rem;
    border-radius: 0;
    border: 1px solid #ddd;
    outline: none !important;
    white-space: pre-wrap;
    @extend .no_appearance;
  }
  [type="submit"] {
    background-color: #080;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
      background-color: rgb(3, 109, 3);
    }
  }
}

.m_b_t_5 {
  margin-bottom: 5px;
  margin-top: 5px;
}

h2,
h3,
h4,
h5 {
  font-weight: 400;
}

.bold_font {
  font-weight: bold;
}

.invoice {
  &__form {
    @include flex(row, nowrap, center, center, flex-start);
  }
  &__form_element,
  &__list_element {
    padding: 0.5rem 0;
    margin-right: 0.5rem;
    font-size: 16px;
    line-height: 1.4;
  }
  &__table {
    width: 100%;
    border-collapse: collapse;
    th {
      padding: 0.5rem;
      text-align: left;
    }

  }
  &__td {
    padding: 0.5rem;
  }
  &__list_element {
    @include flex(row, nowrap, center, center, flex-start);
  }
  &__list_element_note {
    flex: 1 0 120px;
    border-bottom: 1px solid #000;
    margin-right: 0.5rem;
  }
  &__list_element_quantity {
    flex: 1 0 250px;
    border-bottom: 1px solid #000;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
  }
  &__list_element_rate,
  &__list_element_total {
    flex: 1 0 120px;
    border-bottom: 1px solid #000;
    margin-right: 0.5rem;
  }
  [type="text"],
  [type="number"],
  select {
    background-color: transparent;
    border-width: 0 0 1px 0;
    outline: none !important;
    font-size: 16px;
    line-height: 1.4;
    padding: 0.5rem 0;
    border-radius: 0;
    border-color: #000;
    @extend .no_appearance;
  }
  select {
    padding: 0.5rem 1rem;
  }
}
